*{
    margin: 0px;
    padding: 0px;
}

.holder{
    width:100vw ;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    width:100px;
    height: 100px;
    font-size: 40px;
    color: white;
}

#eg1{
    background-color: red;
    order: 3;
	
}

#eg2{
    background-color: blue;
    order: 2;
}

#eg3{
    background-color: green;
    order: 1;
}
