*{
    margin: 0px;
    padding: 0px;
}

#holder{
    width:100vw ;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    width:100px;
    height: 100px;
    font-size: 40px;
    color: white;
}

#eg1{
    background-color: red;
    order: 6;
}

#eg2{
    background-color: blue;
    order: 7;
}

#eg3{
    background-color: green;
    order: 1;
}

#eg4{
    background-color: green;
    order: 2;
}

#eg5{
    background-color: green;
    order: 3;
}

#eg6{
    background-color: green;
    order: 4;
}

#eg7{
    background-color: green;
    order: 5;
}
/* Your CSS Code here. */